{{ define "footer" }}
    <div class="footer">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title">about the publisher</h4>
                        <h3>Gerard Da Cunha</h3>
                        <p>
                            Gerard da Cunha is an Indian architect based in Goa.
                            He is the founder and principal architect of the
                            architecture firm
                            <strong>Architecture Autonomous</strong>. An alumnus
                            of the School of Planning and Architecture, Delhi,
                            he is known for utilizing locally available
                            materials and traditional construction techniques in
                            harmony with its ecosystem
                        </p>
                        <p>
                            Architecture Autonomous has published over 16 books
                            five of which are related to Art and Architecture.
                            Among his other publications are books related to
                            the life and work of the great Goan artist Mario de
                            Miranda
                        </p>
                    </div>

                    <div class="col-md-3">
                        <h4 class="title">terms and conditions</h4>
                        <p>
                            All rights reserved. These items – in whole or part
                            – may not be copied, stored, reproduced or
                            transmitted in any form or by any means, without the
                            prior written permission of the copyright holders
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p>created: <strong>Architecture Autonomous</strong></p>
                        <h6 class="title"></h6>
                        <address>
                            674, Torda, Salvador do Mundo,<br />
                            Bardez, Goa 403101<br />
                            India
                        </address>
                        <address>
                            <strong>Telephone</strong><br />
                            +91-9822123152, +91-832-2410711 &amp; 2410715
                        </address>
                        <address>
                            <strong>Email</strong><br />
                            <a href="mailto:#">archauto@gmail.com</a>
                        </address>
                    </div>

                    <div class="col-md-3">
                        <h4 class="title">attributions</h4>
                        <p>
                            Book and related merchandise Copyright:<br />
                            <strong
                                >Gerard da Cunha &amp; Architecture
                                Autonomous</strong
                            ><br />
                            Photographs Copyright:<br /><strong
                                >Tejinder S. Randhawa</strong
                            >
                        </p>
                        <p>Manufactured by Architecture Autonomous</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="copyright">
                                <strong
                                    >Gerard da Cunha &amp; Architecture
                                    Autonomous</strong
                                >
                                ©
                                <script type="text/javascript">
                                    var d = new Date();
                                    document.write(d.getFullYear());
                                </script>
                                2024 - All Rights Reserved <br />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="foot_right_block">
                                <div class="follow_us-right text-align-left">
                                    <a
                                        data-rel="tooltip"
                                        href="#"
                                        title="Twitter"
                                        ><i
                                            class="fa-brands fa-facebook"
                                            aria-hidden="true"></i
                                    ></a>
                                    <a
                                        data-rel="tooltip"
                                        href="#"
                                        title="Facebook"
                                        ><i
                                            class="fa-brands fa-twitter"
                                            aria-hidden="true"></i
                                    ></a>
                                    <a
                                        data-rel="tooltip"
                                        href="#"
                                        title="LinkedIn"
                                        ><i
                                            class="fa-brands fa-linkedin"
                                            aria-hidden="true"></i
                                    ></a>
                                    <a
                                        data-rel="tooltip"
                                        href="#"
                                        title="Instagram"
                                        ><i
                                            class="fa-brands fa-instagram"
                                            aria-hidden="true"></i
                                    ></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
