{{ define "footer" }}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="h-subheader mb-3">Our products</div>
                    <ul class="list-unstyled list-separated">
                        <li>
                            <a
                                class="link-secondary active"
                                href="/admin-template"
                                >Admin Panel Template</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/icons"
                                >5736 open source icons</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/emails"
                                >Email templates</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/illustrations"
                                >SVG illustrations</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/avatars"
                                >Free User Avatars</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="h-subheader mb-3">Support</div>
                    <ul class="list-unstyled list-separated">
                        <li>
                            <a class="link-secondary" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="/docs"
                                >Documentation</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/repositories"
                                >Repositories</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/support"
                                >Support</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/guides">Guides</a>
                        </li>
                        <li>
                            <a
                                href="https://status.tabler.io"
                                class="link-secondary"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Status</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/license"
                                >License</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="h-subheader mb-3">Tabler</div>
                    <ul class="list-unstyled list-separated">
                        <li>
                            <a class="link-secondary" href="/about">About</a>
                        </li>
                        <li>
                            <a class="link-secondary" href="/testimonials"
                                >Testimonials</a
                            >
                        </li>
                        <li>
                            <a
                                class="link-secondary"
                                href="/docs/getting-started/faq"
                                >FAQ</a
                            >
                        </li>
                        <li>
                            <a class="link-secondary" href="/changelog"
                                >Changelog</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://github.com/tabler/tabler/releases"
                                class="link-secondary"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Releases</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://github.com/tabler"
                                class="link-secondary"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Github</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <a
                        class="logo logo-gray mb-4 active"
                        aria-label="Tabler"
                        href="/">
                    </a>
                    <div class="text-secondary">
                        Tabler comes with tons of well-designed components and
                        features. Start your adventure with Tabler and make your
                        dashboard great again. For free!
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{ end }}
