{{ define "title" }}
    All
    {{ .CurrentCategory.VName }}
{{ end }}

{{ define "main" }}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ range .CategorySideBar }}
                    <h6>
                        <a href="/category/{{ .VURLName }}">{{ .VName }}</a>
                    </h6>
                {{ end }}
            </div>
            <div class="col-lg-9">
                {{ range .CategoryProducts }}
                    <h6>{{ .Category.VName }}</h6>
                    <div class="row">
                        {{ range .Products }}
                            <div class="col-md-3 p-2 m-3 border">
                                <img
                                    src="{{ $.S3Root }}/product/{{ .VImage }}"
                                    class=" mb-3 w-100"
                                    alt="{{ $.CurrentCategory.VName }} - {{ .VName }}" />
                                <div>
                                    {{ .VName }}
                                </div>
                                <div>
                                    &#8377;
                                    {{ .FPrice }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
