{{ define "title" }}
    Start here
{{ end }}

{{ define "main" }}
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="text-bg-success p-3 text-center h3">
                    Free Shipping anywhere in India
                </div>
            </div>
        </div>
        <div class="row">
            <img
                src="/static/img/landing-1.jpg"
                class="img-fluid"
                alt="Product Showcase" />
        </div>
    </div>
{{ end }}
