{{ define "title" }}
    {{ .Product.VName }}
{{ end }}

{{ define "main" }}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <img
                    src="{{ .S3Root }}/product/{{ .Product.VImage }}"
                    class="w-100" />
            </div>
            <div class="col-lg-5">
                <h2 class="mb-1">{{ .Product.VName }}</h2>
                <h3>(in {{ .Product.VCategoryName }})</h3>
                <h3>&#8377; {{ .Product.FPrice }}</h3>
                {{ with .Attributes }}
                    <ul>
                        {{ range . }}
                            <li>{{ .VName }} : {{ .VValue }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                <form id="add-to-cart">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <label for="quantity">Quantity:</label>
                                </div>
                                <div class="col-3">
                                    <select
                                        id="quantity"
                                        class="form-select"
                                        name="quantity">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <input
                                    type="hidden"
                                    id="product-id"
                                    name="product-id"
                                    value="{{ .Product.IProdID }}" />
                                <div class="col-3">
                                    <button
                                        id="submit"
                                        type="submit"
                                        class="btn btn-success">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{ end }}
