.thumb-info-image {
    display: block;
    position: relative;
    margin-bottom: 0.9rem;
    padding-top: 100%;
    border-radius: 50%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
