{{ define "footer" }}
    <div class="container-fluid bg-body-secondary">
        <div class="row py-5" style="height: 200px">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="display-6">About</h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="display-6">Terms</h6>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="display-6">Contact</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-3 py-5">
            <p class="fs-small">Copyright Gerard Da Cunha</p>
        </div>
    </div>
{{ end }}
